.sidebar {
  min-width: 30px;
  background-color: #e6e8e6;
  border: none;
}

.sidebarButton {
  min-height: 30px;  
  border: none;
  background-image: none;
  box-shadow: none;
  background-color: #e6e8e6;
}

/*
-f15025
-ffffff
-e6e8e6
-ced0ce
-191919
*/