.stack-switcher button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem 2.4rem;
  min-width: 3rem;
  min-height: 3rem;
  box-shadow: none;
  /* margin: 0.00001rem; margin can remove thin borders. */
  border: none;
}

.stack-switcher button:first-child {
  background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/png/image/collections/materialiconsoutlined/48dp/2x/outline_collections_black_48dp.png');
}
.stack-switcher button:nth-child(2) {
  background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/png/action/settings/materialiconsoutlined/48dp/2x/outline_settings_black_48dp.png');
}

.settings {
  margin: 0 2rem;
}

.settings .title {
  margin: 1em 0;
  font-size: 2rem;
}

.settings .root-directory-caption {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.settings .root_directory_search_description {
  margin-bottom: 0.4rem;
}

.settings .root_directory_search_message {
  margin-top: 0.8rem;
  color: #F15025;
}
/*
f15025
ffffff
e6e8e6
ced0ce
191919
*/