.stack-switcher button {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	min-height: 40px;
	border-width: 0;
	min-width: 40px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.stack-switcher button:first-child {
	background-image: none;
	background-color: red;
	background-repeat: no-repeat;
	min-height: 40px;
	border-width: 0;
	min-width: 40px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.stack-switcher button:focus {
	background-color: rgba(0, 0, 0, 0);
	border-width: 0;
	background-image: none;
}